<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smd21.smdinsole.shoes.dao.ShoesDao">

    <select id="selShoesInfoListByGuard" parameterType="Long" resultType="com.smd21.smdinsole.shoes.model.ShoesInfoModel">
        SELECT
            SI.SHOES_NO
            , SI.SHOES_NUMBER
            , SI.IS_ASSIGN
            , SI.BATTERY
            , SI.REG_DATE
            , SI.UP_DATE
        FROM ST_SHOES_INFO SI
            LEFT JOIN ST_SHOES_GUARD SG ON SI.SHOES_NO = SG.SHOES_NO
            LEFT JOIN ST_GUARDIAN G ON SG.MASTER_GUARD_NO = G.GUARD_NO
        WHERE
            SI.IS_ASSIGN = 'Y'
            AND G.GUARD_NO = #{guardNo}
        ORDER BY SI.REG_DATE
    </select>

    <select id="selShoesInfoList" parameterType="Long" resultType="com.smd21.smdinsole.shoes.model.ShoesInfoModel">
        SELECT
            SI.SHOES_NO
             , SI.SHOES_NUMBER
             , SI.IS_ASSIGN
             , SI.BATTERY
             , SI.REG_DATE
             , SI.UP_DATE
        FROM ST_SHOES_INFO SI
        WHERE
            REG_DATE >= #{startDt} AND REG_DATE <![CDATA[ <= ]]> #{endDt}
        ORDER BY SI.REG_DATE
        <if test="pageSize > 0">
            LIMIT #{pageStart}, #{pageSize}
        </if>
    </select>

    <insert id="insShoesInfo" parameterType="com.smd21.smdinsole.shoes.model.ShoesInfoModel" useGeneratedKeys="true" keyProperty="shoesNo">
        INSERT INTO ST_SHOES_INFO (
            SHOES_NUMBER
            , IS_ASSIGN
            , BATTERY
            , REG_DATE
            , UP_DATE
        ) VALUES (#{shoesNumber},#{isAssign}, #{battery}, DATE_FORMAT(NOW(), '%Y%m%d%H%i%S'), DATE_FORMAT(NOW(), '%Y%m%d%H%i%S'))
    </insert>

    <update id="updShoesInfo" parameterType="com.smd21.smdinsole.shoes.model.ShoesInfoModel">
        UPDATE ST_SHOES_INFO
        SET
            <if test="shoesNumber != null and shoesNumber != ''" > SHOES_NUMBER = #{shoesNumber}, </if>
            <if test="isAssign != null and isAssign != ''" > IS_ASSIGN = #{isAssign}, </if>
            <if test="battery != null and battery != ''" > BATTERY = #{battery}, </if>
            <if test="nickName != null and nickName != ''" > NICK_NAME = #{nickName}, </if>
            UP_DATE = DATE_FORMAT(NOW(), '%Y%m%d%H%i%S')
        WHERE
            SHOES_NO = #{shoesNo}
    </update>

    <insert id="insActiveRange" parameterType="om.smd21.smdinsole.shoes.model.ActiveRangeModel" useGeneratedKeys="true" keyProperty="rangeNo">
        INSERT INTO ST_ACTIVE_RANGE (
            RANGE_NAME
            , SHOES_NO
            , RANGE_ADDRESS
            , LATITUDE
            , LONGITUDE
            , RADIUS
            , REG_DATE
            , UP_DATE
            , REG_USER
        ) VALUES(
            #{rangeName}
            , #{shoesNo}
            , #{rangeAddress}
            , #{latitude}
            , #{longitude}
            , #{radius}
            , DATE_FORMAT(NOW(), '%Y%m%d%H%i%S')
            , DATE_FORMAT(NOW(), '%Y%m%d%H%i%S')
            , #{regUser}
        )
    </insert>

    <delete id="delActiveRange" parameterType="long">
        DELETE FROM ST_ACTIVE_RANGE WHERE RANGE_NO = #{rangeNo}
    </delete>

    <select id="selActiveRangeList" parameterType="long" resultType="com.smd21.smdinsole.shoes.model.ActiveRangeModel">
        SELECT
            RANGE_NO
            , RANGE_NAME
            , SHOES_NO
            , RANGE_ADDRESS
            , LATITUDE
            , LONGITUDE
            , RADIUS
            , REG_DATE
            , UP_DATE
            , REG_USER
        FROM ST_ACTIVE_RANGE AR
            LEFT JOIN ST_SHOES_GUARD SG ON AR.SHOES_NO = SG.SHOES_NO
        WHERE
            SG.MASTER_GUARD_NO = #{guardNo}
        ORDER BY AR.SHOES_NO
    </select>

    <insert id="insLocation" parameterType="om.smd21.smdinsole.shoes.model.LocationModel" useGeneratedKeys="true" keyProperty="locationNo">
        INSERT INTO ST_LOCATION (
            SHOES_NO
            , LATITUDE
            , LONGITUDE
            , STATUS
            , REPORT_DATE
        ) VALUES(
            #{shoesNo}
            , #{latitude}
            , #{longitude}
            , #{status}
            , DATE_FORMAT(NOW(), '%Y%m%d%H%i%S')
        )
    </insert>

    <select id="selLocationList" parameterType="long" resultType="com.smd21.smdinsole.shoes.model.LocationModel">
        SELECT
            LOCATION_NO
            , SHOES_NO
            , LATITUDE
            , LONGITUDE
            , STATUS
            , REPORT_DATE
        FROM ST_ACTIVE_RANGE AR
                 LEFT JOIN ST_SHOES_GUARD SG ON AR.SHOES_NO = SG.SHOES_NO
        WHERE
            SG.MASTER_GUARD_NO = #{guardNo}
        ORDER BY AR.SHOES_NO
    </select>
</mapper>