<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smd21.smdinsole.api.dao.UserDao">
    <select id="getGuardian" parameterType="String" resultType="com.smd21.smdinsole.api.model.GuardianModel">
        SELECT
            GUARD_NO
            , GUARD_NAME
            , GUARD_PHONE
            , MASTER_GUARD_NO
            , GUARD_PWD
            , MAKETING_AGREE_YN
            , REG_DATE
        FROM
            ST_GUARDIAN
        WHERE
            GUARD_PHONE = #{guardPhone}
    </select>

    <select id="selShoesList" parameterType="Long" resultType="com.smd21.smdinsole.api.model.ShoesInfoModel">
        SELECT
            SI.SHOES_NO
            , SI.SHOES_NUMBER
            , SI.BATTERY
            , SI.REG_DATE
        FROM ST_SHOES_INFO SI
            LEFT JOIN ST_SHOES_GUARD SG ON SI.SHOES_NO = SG.SHOES_NO
            LEFT JOIN ST_GUARDIAN G ON SG.MASTER_GUARD_NO = G.MASTER_GUARD_NO
        WHERE
            SI.IS_ASSIGN = 'Y'
            AND G.GUARD_NO = #{guardNo}
        ORDER BY SI.REG_DATE
    </select>

    <insert id="insShoesInfo" parameterType="com.smd21.smdinsole.api.model.ShoesInfoModel" useGeneratedKeys="true" keyProperty="SHOES_NO">
        INSERT INTO ST_SHOES_INFO (
            SHOES_NUMBER
            , IS_ASSGIN
        ) VALUES (#{shoesNumber},'Y')
    </insert>
</mapper>