<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kokasin.insole.admin.dao.AdminDao">

    <select id="selDeviceInfoList" parameterType="Long" resultType="com.kokasin.insole.device.model.DeviceInfoModel">
        SELECT
            SI.DEVICE_NO
            , SI.DEVICE_IMEI
            , SI.DEVICE_NUMBER
            , IFNULL(SI.NICK_NAME, "") AS NICK_NAME
            , SI.IS_ASSIGN
            , SI.LOC_CYCLE_1
            , SI.LOC_CYCLE_2
            , SI.LOC_CYCLE_3
            , SI.REG_DATE
            , SI.EXP_DATE
            , SI.UPD_DATE
        FROM ST_DEVICE_INFO SI
        WHERE
            REG_DATE >= #{startDt} AND REG_DATE <![CDATA[ <= ]]> #{endDt}
        ORDER BY SI.REG_DATE
        <if test="pageSize > 0">
            LIMIT #{pageStart}, #{pageSize}
        </if>
    </select>

    <insert id="insDeviceInfo" parameterType="com.kokasin.insole.device.model.DeviceInfoModel" useGeneratedKeys="true" keyProperty="deviceNo">
        INSERT INTO ST_DEVICE_INFO (
              DEVICE_IMEI
            , DEVICE_NUMBER
            , IS_ASSIGN
            , LOC_CYCLE_1
            , LOC_CYCLE_2
            , LOC_CYCLE_3
            , EXP_DATE
            , REG_DATE
            , UPD_DATE
        ) VALUES (#{deviceIMEI}, #{deviceNumber},#{isAssign}, #{locCycle1}, #{locCycle2}, #{locCycle3}, #{expDate}
                  , DATE_FORMAT(NOW(), '%Y%m%d%H%i%S'), DATE_FORMAT(NOW(), '%Y%m%d%H%i%S'))
    </insert>

    <update id="updDeviceInfo" parameterType="com.kokasin.insole.device.model.DeviceInfoModel">
        UPDATE ST_DEVICE_INFO
        SET
            <if test="deviceId != null and deviceId != ''" > DEVICE_IMEI = #{deviceIMEI}, </if>
            <if test="deviceNumber != null and deviceNumber != ''" > DEVICE_NUMBER = #{deviceNumber}, </if>
            <if test="isAssign != null and isAssign != ''" > IS_ASSIGN = #{isAssign}, </if>
            <if test="locCycle1 != null and locCycle1 != ''" > LOC_CYCLE_1 = #{locCycle1}, </if>
            <if test="locCycle2 != null and locCycle2 != ''" > LOC_CYCLE_2 = #{locCycle2}, </if>
            <if test="locCycle3 != null and locCycle3 != ''" > LOC_CYCLE_3 = #{locCycle3}, </if>
            <if test="expDate != null and expDate != ''" > EXP_DATE = #{expDate}, </if>
            UPD_DATE = DATE_FORMAT(NOW(), '%Y%m%d%H%i%S')
        WHERE
            DEVICE_NO = #{deviceNo}
    </update>

    <select id="selCodeList" parameterType="String" resultType="com.kokasin.insole.admin.model.CodeModel">
        SELECT
            CODE_CD
            , CODE_NM
            , CODE_VALUE
            , GRUP_CD
            , CODE_SEQ
        FROM ST_CODE
        WHERE GRUP_CD = #{grupCd}
        ORDER BY CODE_SEQ;
    </select>

</mapper>