<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kokasin.insole.guard.dao.GuardDao">

    <select id="getGuardian" parameterType="Map" resultType="com.kokasin.insole.guard.model.GuardianModel">
        SELECT
            GUARD_NO
             , GUARD_NAME
             , FNC_DEC(GUARD_PHONE) AS guardPhone
             , MASTER_GUARD_NO
             , GUARD_PWD
             , MAKETING_AGREE_YN
             , AUTO_LOGIN
             , REFRESH_TOKEN
             , DEVICE_ID
             , PUSH_YN
             , PUSH_TOKEN
             , REG_DATE
        FROM
            ST_GUARDIAN
        WHERE
            GUARD_PHONE = FNC_ENC(#{guardPhone})
          <if test="guardPwd != '' and guardPwd != null">
            AND GUARD_PWD = FNC_PW(#{guardPwd}, #{guardPhone})
          </if>
          <if test="refreshToken != '' and refreshToken != null">
            AND REFRESH_TOKEN = #{refreshToken}) AND AUTO_LOGIN = 'Y'
          </if>
    </select>
    <select id="getGuardPush" parameterType="Long" resultType="com.kokasin.insole.guard.model.GuardianModel">
        SELECT
            GUARD_NO
            , DEVICE_ID
            , IFNULL(PUSH_TOKEN, '') AS PUSH_TOKEN
        FROM
            ST_GUARDIAN
        WHERE
            GUARD_NO = #{guardNo}
            AND PUSH_YN = 'Y'
    </select>



    <update id="updGuardPwd" parameterType="com.kokasin.insole.guard.model.GuardianModel">
        UPDATE ST_GUARDIAN SET GUARD_PWD = FNC_PW(#{guardPwd}, #{guardPhone})
        WHERE GUARD_NO = #{guardNo}
    </update>

    <select id="selGuardianList" parameterType="Long" resultType="com.kokasin.insole.guard.model.GuardianModel">
        SELECT
            GUARD_NO
             , GUARD_NAME
             , fnc_dec(GUARD_PHONE) AS guardPhone
             , MASTER_GUARD_NO
             , MAKETING_AGREE_YN
             , AUTO_LOGIN
             , REFRESH_TOKEN
             , DEVICE_ID
             , PUSH_YN
             , PUSH_TOKEN
             , REG_DATE
        FROM
            ST_GUARDIAN
        WHERE
            MASTER_GUARD_NO = #{masterGuardNo} OR GUARD_NO = #{masterGuardNo}
        ORDER BY GUARD_NO
    </select>

    <delete id="delGuardian" parameterType="Long">
        DELETE FROM ST_GUARDIAN WHERE GUARD_NO = #{guardNo}
    </delete>

    <insert id="insGuardian" parameterType="com.kokasin.insole.guard.model.GuardianModel" useGeneratedKeys="true" keyProperty="guardNo">
        INSERT INTO ST_GUARDIAN (GUARD_NAME, GUARD_PHONE, MASTER_GUARD_NO, MAKETING_AGREE_YN, AUTO_LOGIN, REG_DATE)
        VALUES(#{guardName}, fnc_enc(#{guardPhone}), #{masterGuardNo}, #{maketingAgreeYn}, 'N', DATE_FORMAT(NOW(), '%Y%m%d%H%i%S'))
    </insert>

    <update id="updGuardian" parameterType="com.kokasin.insole.guard.model.GuardianModel">
        UPDATE ST_GUARDIAN
        SET
        <if test="guardName != null and guardName != ''" > GUARD_NAME = #{guardName}, </if>
        <if test="guardPhone != null and guardPhone != ''" > GUARD_PHONE = fnc_enc(#{guardPhone}), </if>
        <if test="masterGuardNo != null and masterGuardNo != 0" > MASTER_GUARD_NO = #{masterGuardNo}, </if>
        <if test="maketigAgreeYn != null and maketigAgreeYn != ''" > MAKETING_AGREE_YN = #{maketingAgreeYn}, </if>
        WHERE
        GUARD_NO = #{guardNo}
    </update>

    <update id="regGuardian" parameterType="com.kokasin.insole.guard.model.GuardianModel">
        UPDATE ST_GUARDIAN
        SET
            GUARD_PWD = FNC_PW(#{guardPwd}, #{guardPhone})
            , MAKETING_AGREE_YN = 'Y'
            , REFRESH_TOKEN = #{refreshToken}
            , UPD_DATE = DATE_FORMAT(NOW(), '%Y%m%d%H%i%S')
        WHERE
            GUARD_NO = #{guardNo} AND GUARD_PHONE = fnc_enc(#{guardPhone})
    </update>

    <insert id="insDeviceGuard" parameterType="Map">
        INSERT INTO ST_DEVICE_GUARD (DEVICE_NO, MASTER_GUARD_NO) VALUES(#{deviceNo}, #{masterGuardNo})
    </insert>

    <update id="updGuardPhoneInfo" parameterType="com.kokasin.insole.guard.model.GuardianModel">
        UPDATE ST_GUARDIAN
        SET
                PUSH_YN = 'Y'
                , DEVICE_ID = #{deviceId}
                , PUSH_TOKEN = #{pushToken}
                , OS_TYPE= #{osType}
                , APP_VER= #{appVer}
                , OS_VER = #{osVer}
        WHERE
            GUARD_NO = #{guardNo}
    </update>

    <update id="updGuardAutoLogin" parameterType="com.kokasin.insole.guard.model.GuardianModel">
        UPDATE ST_GUARDIAN
        SET
                AUTO_LOGIN = #{autoLogin}
                , REFRESH_TOKEN = #{refreshToken}
        WHERE
            GUARD_NO = #{guardNo} AND GUARD_PHONE = fnc_enc(#{guardPhone})
    </update>

</mapper>