<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smd21.smdinsole.guard.dao.GuardDao">

    <select id="getGuardian" parameterType="Map" resultType="com.smd21.smdinsole.guard.model.GuardianModel">
        SELECT
            GUARD_NO
             , GUARD_NAME
             , FNC_DEC(GUARD_PHONE) AS guardPhone
             , MASTER_GUARD_NO
             , GUARD_PWD
             , MAKETING_AGREE_YN
             , REG_DATE
        FROM
            ST_GUARDIAN
        WHERE
            GUARD_PHONE = FNC_ENC(#{guardPhone})
            AND GUARD_PWD = FNC_PW(#{guardPwd}, #{guardPhone})
    </select>

    <update id="updGuardPwd" parameterType="com.smd21.smdinsole.guard.model.GuardianModel">
        UPDATE ST_GUARDIAN SET GUARD_PWD = FNC_PW(#{guardPwd}, #{guardPhone})
        WHERE GUARD_NO = #{guardNo}
    </update>

    <select id="selGuardianList" parameterType="Long" resultType="com.smd21.smdinsole.guard.model.GuardianModel">
        SELECT
            GUARD_NO
             , GUARD_NAME
             , fnc_dec(GUARD_PHONE) AS guardPhone
             , MASTER_GUARD_NO
             , MAKETING_AGREE_YN
             , REG_DATE
        FROM
            ST_GUARDIAN
        WHERE
            MASTER_GUARD_NO = #{masterGuardNo} OR GUARD_NO = #{masterGuardNo}
        ORDER BY GUARD_NO
    </select>

    <delete id="delGuardian" parameterType="Long">
        DELETE FROM ST_GUARDIAN WHERE GUARD_NO = #{guardNo}
    </delete>

    <insert id="insGuardian" parameterType="com.smd21.smdinsole.guard.model.GuardianModel" useGeneratedKeys="true" keyProperty="guardNo">
        INSERT INTO ST_GUARDIAN (GUARD_NAME, GUARD_PHONE, MASTER_GUARD_NO, MAKETING_AGREE_YN, REG_DATE)
        VALUES(#{guardName}, fnc_enc(#{guardPhone}), #{masterGuardNo}, #{maketigAgreeYn}, DATE_FORMAT(NOW(), '%Y%m%d%H%i%S'))
    </insert>

    <update id="updGuardian" parameterType="com.smd21.smdinsole.guard.model.GuardianModel">
        UPDATE ST_GUARDIAN
        SET
        <if test="guardName != null and guardName != ''" > GUARD_NAME = #{guardName}, </if>
        <if test="guardPhone != null and guardPhone != ''" > GUARD_PHONE = fnc_enc(#{guardPhone}), </if>
        <if test="masterGuardNo != null and masterGuardNo != 0" > MASTER_GUARD_NO = #{masterGuardNo}, </if>
        <if test="maketigAgreeYn != null and maketigAgreeYn != ''" > MAKETING_AGREE_YN = #{maketigAgreeYn}, </if>
        WHERE
        GUARD_NO = #{guardNo}
    </update>

    <insert id="insShoesGuard" parameterType="Map">
        INSERT INTO ST_SHOES_GUARD (SHOES_NO, MASTER_GUARD_NO) VALUES(#{shoesNo}, #{masterGuardNo})
    </insert>
</mapper>